body {
  color: wheat;
  background-color: rgba(0, 0, 0, .6);
  background-image: url("https://picsum.photos/500?random=47");
  background-blend-mode: multiply;
  background-size: cover;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

