/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.display-3, p{
  color: wheat;
}
.display-4, p{
  color: rgb(235, 157, 12);
}
.text-center {
  color: white;
}
.text-under-center{
  animation: fade 9s ease-in-out infinite alternate-reverse;
}

.text-under-under-center{
  animation: fade2 9s ease-in-out infinite alternate-reverse;
}

@keyframes fade {
  0%,
  100% {
      color: #ffdb99;
  }
  25% {
      color: darkgreen;
  }
  25% {
      color: #1a4d8f;
  }
  25% {
      color: coral;
  }
  25% {
      color: blueviolet;
  }
}

@keyframes fade2 {
  0%,
  100% {
      color: #815708;
  }
  25% {
      color: rgb(40, 236, 40);
  }
  25% {
      color: #016dfa;
  }
  25% {
      color: rgb(241, 70, 8);
  }
  25% {
      color: rgb(184, 131, 233);
  }
}