@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="text-under-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ullam, at et error
        soluta repellat ut hic
        beatae distinctio tempore nemo possimus odit, suscipit doloribus sed veniam laudantium debitis illum explicabo.
        Pariatur voluptatem aliquam ratione quasi ea eveniet accusamus accusantium provident impedit eum ipsa
        repudiandae deserunt, ad nulla, fugiat exercitationem?</div> <br><br>
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn spanish <a
            href="https://www.rosettastone.com/tryitnow/?lang=esp&ef_id=1eec2b8eced91a9ca52b49b59262907c%3AG%3As&s_kwcid=AL%218356%2110%2174011133929390%2174011078190214&msclkid=1eec2b8eced91a9ca52b49b59262907c&utm_source=bing&utm_medium=cpc&utm_campaign=NB%20-%20Language%20-%20Spanish%20-%20General%20-%20Exact&utm_term=learn%20spanish&utm_content=Spanish%20Learn">by
            building Web apps with ASP.NET Core in Spanish!</a>.
    </p>
    <div class="text-under-under-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ullam, at et
        error
        soluta repellat ut hic
        beatae distinctio tempore nemo possimus odit, suscipit doloribus sed veniam laudantium debitis illum explicabo.
        Pariatur voluptatem aliquam ratione quasi ea eveniet accusamus accusantium provident impedit eum ipsa
        repudiandae deserunt, ad nulla, fugiat exercitationem?</div>
</div>
